<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:name="com.example.hastanghubaga.TestApp_HiltTestApplication">

        <receiver
            android:name="com.example.hastanghubaga.widget.SupplementWidgetReceiver"
            android:enabled="false"
            android:exported="false" />
    </application>

    <instrumentation
        android:name="com.google.dagger.hilt.android.testing.HiltTestRunner"
        android:targetPackage="com.example.hastanghubaga" />

</manifest>

<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android">-->

<!--    <application>-->
<!--        android:name="com.example.hastanghubaga.TestApp_HiltTestApplication"-->
<!--        <receiver-->
<!--            android:name="com.example.hastanghubaga.widget.SupplementWidgetReceiver"-->
<!--            android:enabled="false"-->
<!--            android:exported="false"/>-->

<!--    </application>-->


<!--    <instrumentation-->
<!--        android:name="com.example.hastanghubaga.HiltTestRunner"-->
<!--        android:targetPackage="com.example.hastanghubaga" />-->

<!--</manifest>-->
